<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Авторизация</title>
</head>
<body>
    <h2>Авторизация</h2>
    <form method="POST" action="../autorizpass/">
        {% csrf_token %}
        <p>Телефон:<br> <input name="phone" value="{{ phone }}" /></p>
        <p>Наименование пользователя:<br> <input name="name" value="{{ name }}" /></p>
        <input type="submit" value="Войти" />
        <div>
            <label id ="textsoob">{{ text }}</label>
    
        </div>
    </form>
</body>
</html>